<div class="column-layout group">
  <igx-calendar [weekStart]="0" [hasHeader]="true" class="calendar"></igx-calendar>
</div>
<div class="column-layout group">
  <igx-grid [data]="northwindCategories" primaryKey="categoryID" displayDensity="cosy" width="442px" height="400px" class="grid">
    <igx-column header="categoryID" field="categoryID" dataType="number" [sortable]="true" title="categoryID"></igx-column>
    <igx-column header="description" field="description" dataType="string" [sortable]="true" title="description"></igx-column>
    <igx-column header="name" field="name" dataType="string" [sortable]="true" title="name"></igx-column>
  </igx-grid>
</div>
<div class="column-layout group">
  <igx-card type="outlined" class="card">
    <igx-card-header>
      <h3 igxCardHeaderTitle>
      </h3>
      <h5 igxCardHeaderSubtitle>
      </h5>
    </igx-card-header>
    <igx-card-content class="body-content">
      <p class="text"></p>
    </igx-card-content>
    <igx-card-actions class="actions-content">
      <button igxButton="flat" igxRipple class="button">
        Button
      </button>
      <button igxButton="icon" igxRipple>
        <igx-icon>
          favorite
        </igx-icon>
      </button>
      <button igxButton="icon" igxRipple>
        <igx-icon>
          bookmark
        </igx-icon>
      </button>
      <button igxButton="icon" igxRipple>
        <igx-icon>
          share
        </igx-icon>
      </button>
    </igx-card-actions>
  </igx-card>
  <igx-card type="outlined" class="card">
    <igx-card-header>
      <h3 igxCardHeaderTitle>
      </h3>
      <h5 igxCardHeaderSubtitle>
      </h5>
    </igx-card-header>
    <igx-card-content class="body-content">
      <p class="text"></p>
    </igx-card-content>
    <igx-card-actions class="actions-content">
      <button igxButton="flat" igxRipple class="button">
        Button
      </button>
      <button igxButton="icon" igxRipple>
        <igx-icon>
          favorite
        </igx-icon>
      </button>
      <button igxButton="icon" igxRipple>
        <igx-icon>
          bookmark
        </igx-icon>
      </button>
      <button igxButton="icon" igxRipple>
        <igx-icon>
          share
        </igx-icon>
      </button>
    </igx-card-actions>
  </igx-card>
  <igx-card type="outlined" class="card">
    <igx-card-header>
      <h3 igxCardHeaderTitle>
      </h3>
      <h5 igxCardHeaderSubtitle>
      </h5>
    </igx-card-header>
    <igx-card-content class="body-content">
      <p class="text"></p>
    </igx-card-content>
    <igx-card-actions class="actions-content">
      <button igxButton="flat" igxRipple class="button">
        Button
      </button>
      <button igxButton="icon" igxRipple>
        <igx-icon>
          favorite
        </igx-icon>
      </button>
      <button igxButton="icon" igxRipple>
        <igx-icon>
          bookmark
        </igx-icon>
      </button>
      <button igxButton="icon" igxRipple>
        <igx-icon>
          share
        </igx-icon>
      </button>
    </igx-card-actions>
  </igx-card>
  <igx-card type="outlined" class="card">
    <igx-card-header>
      <h3 igxCardHeaderTitle>
      </h3>
      <h5 igxCardHeaderSubtitle>
      </h5>
    </igx-card-header>
    <igx-card-content class="body-content">
      <p class="text"></p>
    </igx-card-content>
    <igx-card-actions class="actions-content">
      <button igxButton="flat" igxRipple class="button">
        Button
      </button>
      <button igxButton="icon" igxRipple>
        <igx-icon>
          favorite
        </igx-icon>
      </button>
      <button igxButton="icon" igxRipple>
        <igx-icon>
          bookmark
        </igx-icon>
      </button>
      <button igxButton="icon" igxRipple>
        <igx-icon>
          share
        </igx-icon>
      </button>
    </igx-card-actions>
  </igx-card>
</div>
